<script>
    $(document).ready(function () {
        $("#ulMenu li").removeClass("menu-active");
        $("#liContctUs").addClass("menu-active");

        $("#btnSubmit").click(function () {
            name = $("#txtName").val();
            email = $("#txtEmail").val();
            phone = $("#txtPhone").val();
            msg = $("#txtMsg").val();

            checkIfFieldEmpty();
            if (name == "") {
                showAlertDialog("warning", "Please enter your Name");
                $("#txtName").focus();
            }
            else if (phone == "") {
                showAlertDialog("warning", "Please enter your Mobile number");
                $("#txtPhone").focus();
            }
            else if (email == "") {
                showAlertDialog("warning", "Please enter your Email");
                $("#txtEmail").focus();
            }
           
            else if (msg == "") {
                showAlertDialog("warning", "Please enter your message");
                $("#txtMsg").focus();
            }
            else {
                $.ajax({
                    dataType: "json",
                    type: "post",
                    url: "/home/SendAnEmailToUs",
                    data: {
                        name: name,
                        phone: phone,
                        email: email,
                        msg: msg
                    },
                }).success(function (data) {
                    hideStatus();
                    $("#divModal").modal("show");
                    $(".mandatory-field").val("").removeClass("txt-error");
                    $("#txtMsg").text("");
                }).error(function () {

                });
            }
        });

    })
</script>
<!--==========================
    Contact Section
  ============================-->
<section class="wow fadeInUp">
    <div class="container">

        <div class="contact-us">
            <div class="row">
                <div class="col-md-4">
                    <div class="primary-box">
                        <h3>Address</h3>
                        <address>
                            D.No.10-5-698 <br />
                            Kanekal Road, S No:183 <br />
                            Rayadurgam - 515865  <br />
                            Anantapur Dist.<br />
                            Andhra Pradesh <br />
                            India
                            <br />
                            +91 8495-253999<br />
                            +91 9440049797<br/>
                            +91 9490541099<br/>
                            +91 9440410423<br />
                            <br />Email: royal.degree999@gmail.com
                        </address>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="primary-box ">
                        <h3>Contact Us</h3>
                        <div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control mandatory-field" id="txtName" placeholder="Your Name" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control mandatory-field" name="phone" id="txtPhone" placeholder="Your Mobile No." />
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control mandatory-field" name="email" id="txtEmail" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control mandatory-field" name="message" rows="5" id="txtMsg" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <button type="button" id="btnSubmit" class="btn btn-outline-success btn-lg">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="contact-us">
            <div class="row">
                <div class="col-lg-12 col-md-12 filter-app wow fadeInUp">
                    <div id="google_map" style="height:500px;" class="map-box">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30872.42783176151!2d76.86830695289395!3d14.70956777793031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb735b2bd7ef49d%3A0xc83c5f6ce7e98b1!2sRoyal+PG+Centre%2C+Andhra+Pradesh+515865%2C+India!5e0!3m2!1sen!2sus!4v1525504589133" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #contact -->
