
<script>
    $(document).ready(function () {
        $("#ulMenu li").removeClass("menu-active");
        $("#liFacilities").addClass("menu-active");
        $("#liFacilitiesBus").addClass("menu-active");

    });

</script>


@{
    ViewBag.Title = "Bus";
}


<div class="container">

    <div class="primary-box contact-box">
        <div class="box-header">
            <h2 class="box-title" id="eventHeader"></h2>
            <span id="eventDate" class="pull-right">
            </span>
        </div>
        <div class="box-body with-border" id="eventContent">

            <h2>College Bus</h2>
        </div>
        <!-- /.box-body -->
    </div>
</div>