
@{
    ViewBag.Title = "ComputerLab";
}


<div class="container">

    <div class="primary-box contact-box">
        <div class="box-header">
            <h2 class="box-title" id="eventHeader"></h2>
            <span id="eventDate" class="pull-right">
            </span>
        </div>
        <div class="box-body with-border" id="eventContent">

            <h2>Computer Lab</h2>
        </div>
        <!-- /.box-body -->
    </div>
</div>