<script>
    var operationType = "Add", staffId = 0;;
    $(document).ready(function () {
        $("#ulMenu li").removeClass("menu-active");
        $("#liDepartments").addClass("menu-active");

        $('#txtDate').datepicker({
            clearBtn: true,
            format: "dd-M-yyyy",
            autoclose: true,
            endDate: moment().format("DD-MMM-YYYY"),

        });

        getCoursesInfoList();

        $("#btnAddNew").click(function () {
            operationType = "Add";
            clearFormFields();
            semId = $("#ulSemTabs li.active a").data("id");
            departmentId = $("#liDepartmentsList .li-active").data("id");
            $("#ddlDepartment").val(departmentId);
            $("#ddlSemester").val(semId);
            $("#divModalheader").text("Add Course");
            $("#divModal").modal("show");
            setTimeout(function () {
                $("#txtName").focus();
            },100)
        });

        //Gallery content
        $("#galleryUpload").change(function () {
            var file = this.files;
            var notImage = false;
            for (var i = 0; i < this.files.length; i++) {
                var fileType = file[i]["type"];
                var ValidImageTypes = ["image/jpeg", "image/png"];
                if ($.inArray(fileType, ValidImageTypes) < 0) {
                    notImage = true;
                    showAlertDialog("warning", "Please select JPEG/JPG and PNG images only");
                    $("#galleryUpload").val("");
                    return;
                }
            }
        })

        $("#btnSaveCourse").click(function () {
            name = $("#txtName").val();
            department = parseInt($("#ddlDepartment").val());
            semester = parseInt($("#ddlSemester").val());

            var fileUpload = $("#fileUpload").get(0);
            var files = fileUpload.files;

            checkIfFieldEmpty();
            if (name == "") {
                showAlertDialog("warning", "Please enter subject name");
                $("#txtName").focus();
            }
            else if (files.length > 0) {
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                $("#divModal").modal("hide");
                showLoader();
                $.ajax({
                    url: '/Departments/AddUpdate?name=' + name + '&DepartmentId=' + department + '&SemId=' + semester,
                    type: 'POST',
                    data: fileData,
                    success: function (data) {
                        if (data.result == "success") {
                            //$("#liEventList li a").removeClass("li-active");
                            //eventMenu = "<li id='liEvent" + data.eventId + "'><a  class='li-active' onclick='getEventPhotos(" + data.eventId + ")' data-name='" + name + "' data-date='" + date + "' data-id='" + data.eventId + "'><span class='fa fa-angle-right' style='padding-right:5px;'></span>" + name + "</a></li>";
                            //$("#liEventList").append(eventMenu);
                            showAlertDialog("success", "Course added successfully");
                        }
                        else {
                            showAlertDialog("warning", "Unable to update course");
                        }
                        hideLoader();
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            else {
                $("#fileUpload").focus();
                showAlertDialog("warning", "Please select syllabus document");
            }
        });

    });

    function clearFormFields() {
        $(".form-control").val("").removeClass("is-invalid");
    }

    function getDepartmentCourses(id) {
        $("#liDepartmentsList li a").removeClass("li-active");
        $("#liDepartment" + id+" a").addClass("li-active");
        $("table [department-id]").hide();
        $("table [department-id='"+id+"']").show();
    }
    var result = "";
    function getCoursesInfoList() {
        showLoader();
        $.ajax({
            type: "POST",
            url: '/Departments/GetCoursesInfoList',
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                result = data;
                if (data.result == "success") {
                    var temp = "", count = 0, ddlDepartments="";
                    for (var i = 0; i < data.departments.length; i++) {
                        temp += "<li id='liDepartment" + data.departments[i].Id + "' ><a  onclick='getDepartmentCourses(" + data.departments[i].Id + ")' data-id='" + data.departments[i].Id + "'><span class='fa fa-angle-right' style='padding-right:5px;'></span>" + data.departments[i].Name + "</a></li>";
                        ddlDepartments+="<option value='"+data.departments[i].Id+"'>"+data.departments[i].Name+"</option>"
                    }
                    $("#liDepartmentsList").html(temp);
                    $("#ddlDepartment").append(ddlDepartments);
                    var options = "", semTabContent = "", ddlSemester="";
                    for (var i = 0; i < data.semesters.length; i++) {
                        options += '<li><a data-id="' + data.semesters[i].Id + '" data-toggle="tab" href="#sem' + data.semesters[i].Id + '">' + data.semesters[i].Name + '</a></li>';
                        ddlSemester += "<option value='" + data.semesters[i].Id + "'>" + data.semesters[i].Name + "</option>"
                    }
                    $("#ddlSemester").append(ddlSemester);
                    $("#ulSemTabs").append(options);

                    var sem1 = "", sem2 = "", sem3 = "", sem4 = "", sem5 = "", sem6 = "";
                    for (var i = 0; i < data.courses.length; i++) {
                        if (data.courses[i].SemId === 1) 
                            sem1 += "<tr department-id='" + data.courses[i].DepartmentId + "'><td>" + data.courses[i].Name + "</td><td><a class='fa fa-download syllabus-download' href='/Departments/GetSyllabusFile?courseName=" + data.courses[i].Sem + '_' + data.courses[i].Name + "&courseId=" + data.courses[i].Id + "'  title='Download'></a></td></tr>";
                        else if (data.courses[i].SemId === 2)
                            sem2 += "<tr department-id='" + data.courses[i].DepartmentId + "'><td>" + data.courses[i].Name + "</td><td><a class='fa fa-download syllabus-download' href='/Departments/GetSyllabusFile?courseName=" + data.courses[i].Sem + '_' + data.courses[i].Name + "&courseId=" + data.courses[i].Id + "'  title='Download'></a></td></tr>";
                        else if (data.courses[i].SemId === 3) 
                            sem3 += "<tr department-id='" + data.courses[i].DepartmentId + "'><td>" + data.courses[i].Name + "</td><td><a class='fa fa-download syllabus-download' href='/Departments/GetSyllabusFile?courseName=" + data.courses[i].Sem + '_' + data.courses[i].Name + "&courseId=" + data.courses[i].Id + "'  title='Download'></a></td></tr>";
                        else if (data.courses[i].SemId === 4) 
                            sem4 += "<tr department-id='" + data.courses[i].DepartmentId + "'><td>" + data.courses[i].Name + "</td><td><a class='fa fa-download syllabus-download' href='/Departments/GetSyllabusFile?courseName=" + data.courses[i].Sem + '_' + data.courses[i].Name + "&courseId=" + data.courses[i].Id + "'  title='Download'></a></td></tr>";
                        else if (data.courses[i].SemId === 5) 
                            sem5 += "<tr department-id='" + data.courses[i].DepartmentId + "'><td>" + data.courses[i].Name + "</td><td><a class='fa fa-download syllabus-download' href='/Departments/GetSyllabusFile?courseName=" + data.courses[i].Sem + '_' + data.courses[i].Name + "&courseId=" + data.courses[i].Id + "'  title='Download'></a></td></tr>";
                        else if (data.courses[i].SemId === 6) 
                            sem6 += "<tr department-id='" + data.courses[i].DepartmentId + "'><td>" + data.courses[i].Name + "</td><td><a class='fa fa-download syllabus-download' href='/Departments/GetSyllabusFile?courseName=" + data.courses[i].Sem + '_' + data.courses[i].Name + "&courseId=" + data.courses[i].Id + "'  title='Download'></a></td></tr>";
                    }

                    semTabContent += '<div id="sem1" class="tab-pane in"><table class="table table-bordered"><thead><tr><th>Subject</th><th>Syllabus</th></tr></thead><tbody>' + sem1 + '</tbody></table></div>';
                    semTabContent += '<div id="sem2" class="tab-pane in"><table class="table table-bordered"><thead><tr><th>Subject</th><th>Syllabus</th></tr></thead><tbody>' + sem2 + '</tbody></table></div>';
                    semTabContent += '<div id="sem3" class="tab-pane in"><table class="table table-bordered"><thead><tr><th>Subject</th><th>Syllabus</th></tr></thead><tbody>' + sem3 + '</tbody></table></div>';
                    semTabContent += '<div id="sem4" class="tab-pane in"><table class="table table-bordered"><thead><tr><th>Subject</th><th>Syllabus</th></tr></thead><tbody>' + sem4 + '</tbody></table></div>';
                    semTabContent += '<div id="sem5" class="tab-pane in"><table class="table table-bordered"><thead><tr><th>Subject</th><th>Syllabus</th></tr></thead><tbody>' + sem5 + '</tbody></table></div>';
                    semTabContent += '<div id="sem6" class="tab-pane in"><table class="table table-bordered"><thead><tr><th>Subject</th><th>Syllabus</th></tr></thead><tbody>' + sem6 + '</tbody></table></div>';

                    $("#divSemDetails").append(semTabContent);
                    $("#ulSemTabs li:first a").click();
                    $("table [department-id]").hide();
                    $("table [department-id=1]").show();

                    if (data.courses.length > 0) {
                        var activeCourse = $("#liDepartmentsList li:first a");
                        activeCourse.addClass("li-active");
                    }
                }
                else
                    showAlertDialog("warning", "Unable to fetch Department details");

                hideLoader();
            },
            error: function (error) {
                showAlertDialog("warning", "Unable to fetch Department details");
                hideLoader();
            }
        });

    }

    function downloadSyllabusFile(courseName,id) {
        $.ajax({
            url: '/Departments/GetSyllabusFile?courseName=' + courseName+"&courseId="+id,
            type: 'POST',
            success: function (data) {
                //$("#divEventGallery").html(data);
                //baguetteBox.run('.tz-gallery');
                hideLoader();
            },
        });
    }

    function getEventPhotos(eventId) {
        $("#liEventList li a").removeClass("li-active");
        //$("#liEvent" + eventId + " a").addClass("li-active");

        var activeEvent = $("#liEvent" + eventId + " a");
        $("#eventDate").text(moment(activeEvent.data("date")).format("DD-MMM-YYYY"));
        $("#eventHeader").text(activeEvent.data("name"));
        activeEvent.addClass("li-active");
        showLoader();
        $.ajax({
            url: '/AboutUs/GetEventPhotos?eventId=' + eventId,
            type: 'POST',
            success: function (data) {
                $("#divEventGallery").html(data);
                baguetteBox.run('.tz-gallery');
                hideLoader();
            },
        });
    }

</script>

<div id="divEvents" class="container dept-container">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="primary-box">
            <div class="box-header">
                <h3 class="box-title">
                    Departments
                </h3>
            </div>
            <div class="box-body with-border">
                <ul class="course-list-1" id="liDepartmentsList"></ul>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="divider-lg visible-xs"></div>
    <div class="col-md-8 col-sm-8 col-lg-8">
        <div class="primary-box contact-box">
            <div class="box-header">
                <h2 class="box-title" id="Header"></h2>
                <ul id="ulSemTabs" class="nav nav-tabs">
                </ul>
                <div id="divSemDetails" class="tab-content">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="pull-right" style="margin-bottom:10px">
                            <input type="button" value="Add New" id="btnAddNew" class="btn btn-lg btn-success waves-effect waves-light" />
                        </div>
                    }
                </div>
            </div>
            <div class="box-body with-border" id="eventContent">

                <div class="tz-gallery">
                    <div class="row" id="divEventGallery">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>


<div class="modal" id="divModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="divModalheader">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divModalBody">
                <div class="col-lg-12">
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="" value="" class="form-control mandatory-field" id="txtName" maxlength="50" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Department</label>
                        <div class="col-sm-9">
                            <select id="ddlDepartment" class="form-control mandatory-field">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Semester</label>
                        <div class="col-sm-9">
                            <select id="ddlSemester" class="form-control mandatory-field"></select>
                        </div>
                    </div>
                    <form id="formUpload" method="post"></form>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Select Syllabus document</label>
                        <div class="col-sm-9">
                            <input type="file" name="fileUpload" value="" id="fileUpload" class="" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" id="btnSaveCourse" class="btn btn-outline-success btn-lg">Save changes</button>
                <button type="button" class="btn btn-outline-info btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>