<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Royal PG Centre</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="~/lib/snackbar/snackbar.css" rel="stylesheet" />
  
    <!-- Bootstrap CSS File -->
    <link href="~/lib/theme-default.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/jquery/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">





    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">


    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/superfish/hoverIntent.js"></script>
    <script src="~/lib/superfish/superfish.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox//js/lightbox.min.js"></script>
    <script src="~/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="~/lib/snackbar/snackbar.js"></script>
    <script src="~/lib/jquery.spinner.js"></script>
    <!-- Contact Form JavaScript File -->
    <!-- Template Main Javascript File -->
    <script src="~/js/main.js"></script>
    <script src="~/js/custom.js"></script>

</head>

<body>
    <!--==========================
      Header
    ============================-->
    <header id="header" style="background-color: black;">
        <div class="container-fluid">
            <div id="divSpinnerLoader" class="spinner-loaing" style="display:none">
                <div id="js-spinner"></div>
            </div>
            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">Royal PG Centre</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu" id="ulMenu">
                    <li id="liHome"><a href="/home">Home</a></li>
                    <li id="liAboutUs"><a href="/aboutus/index">About Us</a></li>
                    <li id="liDepartments"><a href="/departments">Departments</a></li>
                    <li id="liStaff"><a href="/aboutus/staff">Our Staff</a></li>
                    <li id="liEvents"><a href="/home/events">Events</a></li>
                    <li id="liServices" class="menu-has-children">
                        <a href="/services">Services</a>
                        <ul>
                            <li><a href="/services/library">Library</a></li>
                            <li><a href="/services/computerlab">Computer Lab</a></li>
                            <li><a href="/services/bus">Bus Facility</a></li>
                        </ul>
                    </li>
                    <li id="liContctUs"><a href="/home/contact">Contact Us</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
        <div class="progress header-loading" id="divHeaderLoader" style="display:none">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
        </div>
    </header><!-- #header -->
    <div style="margin-top:90px;min-height: 425px;">
        @RenderBody()
    </div>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; @DateTime.Now.Year - Royal PG Centre. All Rights Reserved.
                <br />
                Developed by Abhishek Hotte
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

   

</body>
</html>
