@*<link href="~/css/baguetteBox.min.css" rel="stylesheet" />
<link href="~/css/gallery-grid.css" rel="stylesheet" />
<script src="~/js/baguetteBox.min.js"></script>*@
<script>
    var operationType = "Add", staffId = 0;;
    $(document).ready(function () {
        $("#ulMenu li").removeClass("menu-active");
        $("#liStaff").addClass("menu-active");
        getStaffList();

        $("#btnAddNew").click(function () {
            operationType = "Add";
            clearFormFields();
            $("#divModalheader").text("Add Staff");
            $("#divModal").modal("show");
        });

        $("#photoUpload").click(function () {
            $("#fileUpload").click().change(function () {
                var reader = new FileReader();
                reader.onload = function () {
                    $("#photoUpload").attr("src", reader.result);
                };
                reader.readAsDataURL(event.target.files[0]);
            })

        });

        $("#btnSaveStaff").click(function () {
            let name = "", designation = "", mobile = "", email = "", teachingStaff = false;
            name = $("#txtName").val();
            designation = $("#txtDesignation").val();
            subject = $("#txtSubject").val();
            mobile = $("#txtMobileNo").val();
            email = $("#txtEmailId").val();
            image = $("#photoUpload").attr("src");
            //teachingStaff = $("#rdbTeachingStaff").is(":checked");
            checkIfFieldEmpty();
            if (name == "") {
                showAlertDialog("warning", "Please enter Staff Name");
                $("#txtName").focus();
            }
            else if (designation == "") {
                showAlertDialog("warning", "Please enter Staff Designation"); $("#txtDesignation").focus();
            }
            else if (subject == "") {
                showAlertDialog("warning", "Please enter Staff Suject"); $("#txtSubject").focus();
            }
            else if (mobile == "") {
                showAlertDialog("warning", "Please enter Staff Mobile no"); $("#txtMobileNo").focus();
            }
            else if (email == "") {
                showAlertDialog("warning", "Please enter Staff Email Id"); $("#txtEmailId").focus();
            }
            else {
                showLoader();
                $("#divModal").modal("hide");
                var formData = new FormData();
                var file = document.getElementById("fileUpload");
                formData.append("fileUpload", file);
                $.ajax({
                    dataType: "json",
                    type: "post",
                    url: '/AboutUs/AddUpdateStaff',
                    data: {
                        id:staffId,
                        name: name,
                        designation: designation,
                        subject: subject,
                        mobile: mobile,
                        email: email,
                        image:image
                    },
                    success: function (data) {
                        if (data.result == "success") {
                            if (operationType == "Add") {
                                showAlertDialog("success", "Added Successfully");
                                profileHtml = "<div id='staff" + data.staffId + "' class='col-lg-3 col-md-4 col-sm-6 col-xs-12 wow zoomIn fadeInUp filter-teaching-staff'><div class='panel panel-default'><div class='panel-body profile'><i class='fa fa-edit staff-edit-icon' data-staff-id='" + data.staffId + "' title='Edit'></i><div class='profile-image'><img id='liSImg" + data.staffId + "' src='/images/staff/" + data.staffId + ".jpg' alt=''></div></div><div class='panel-body'><div class='contact-info'><div class='profile-data-name' id='liSName" + data.staffId + "'>" + name + "</div><div class='profile-data-title' id='liSDesignation" + data.staffId + "'>" + designation + "</div><div class='profile-data-title'><span class='fa-book fa fa-lg profile-icon'></span><span id='liSSubject" + data.staffId + "'>" + subject + "</span></div><div class='profile-data-title'><span class='fa-phone-square fa fa-lg profile-icon'></span><span id='liSMobile" + data.staffId + "'>" + mobile + "</span></div><div class='profile-data-title'><span class='fa-envelope-o fa fa-lg profile-icon'></span><span id='liSEmail" + data.staffId + "'>" + email + "</span></div></div></div></div></div>";
                                $("#divProfileContent").append(profileHtml);
                                editStaffList();
                            }
                            else {
                                showAlertDialog("success", "Updated Successfully");
                                $("#liSName" + staffId).text(name);
                                $("#liSDesignation" + staffId).text(designation);
                                $("#liSSubject" + staffId).text(subject);
                                $("#liSMobile" + staffId).text(mobile);
                                $("#liSEmail" + staffId).text(email);
                                setTimeout(function () {
                                    $("#liSImg" + staffId).attr("src", image);
                                },1000)
                            }
                        }
                        hideLoader();
                    },
                    error: function (error) {
                        showAlertDialog("success", "Unable to update Staff details");
                        hideLoader();
                    }
                });
            }
        });

    });

    function clearFormFields() {
        $(".form-control").val("").removeClass("is-invalid");
        $("#photoUpload").attr("src", "/images/no-image.jpg");
        setTimeout(function () {
            $("#txtName").focus();
        }, 200);
    }

    function getStaffList() {
        showLoader();
        $.ajax({
            type: "POST",
            url: '/AboutUs/GetAllStaffDetails',
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                $("#divProfileContent").html(data.list);
                editStaffList();
                hideLoader();
            },
            error: function (error) {
                showAlertDialog("warning", "Unable to get Staff details");
                hideLoader();
            }
        });

    }

    function editStaffList() {
        $(".staff-edit-icon").click(function () {
            clearFormFields();
            staffId = $(this).data("staff-id");
            $("#txtName").val($("#liSName" + staffId).text());
            $("#txtDesignation").val($("#liSDesignation" + staffId).text());
            $("#txtSubject").val($("#liSSubject" + staffId).text());
            $("#txtMobileNo").val($("#liSMobile" + staffId).text());
            $("#txtEmailId").val($("#liSEmail" + staffId).text());
            $("#photoUpload").attr("src", $("#liSImg" + staffId).attr("src"));
            operationType = "Edit";
            $("#divModalheader").text("Edit Staff");
            $("#divModal").modal("show");
        });
    }

  
</script>

<div id="aboutus" class="container">
    <div class="primary-box">
        <h3>
            <i class="ion-ios-people-outline icon"></i>Our Staff
            @if (User.Identity.IsAuthenticated)
            {
                <div class="pull-right">
                    <input type="button" value="Add New" id="btnAddNew" class="btn btn-lg btn-success waves-effect waves-light" />

                </div>
            }
        </h3>
        <div>
            <style>
                .body-card {
                }

                .container-card {
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 236px;
                    height: 305px;
                    background-color: #ffffff;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    border-width: 3px;
                    border: 2px solid #ccc;
                    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
                    transition: 0.3s;
                    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                }

                .content {
                    position: relative;
                    height: 100%;
                    -webkit-animation: placeHolderSwept 1s infinite linear forwards;
                    -moz-animation: placeHolderSwept 1s infinite linear forwards;
                    -o-animation: placeHolderSwept 1s infinite linear forwards;
                    animation: placeHolderSwept 1s infinite linear forwards;
                    background: #ebebec;
                    background-image: linear-gradient(to right, #ebebec 0%, #e0e0e2 20%, #ebebec 40%, #ebebec 100%);
                    background-repeat: no-repeat;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                }

                @@-webkit-keyframes placeHolderSwept {
                    0% {
                        background-position: -400px 0;
                    }

                    100% {
                        background-position: 400px 0;
                    }
                }

                @@-moz-keyframes placeHolderSwept {
                    0% {
                        background-position: -400px 0;
                    }

                    100% {
                        background-position: 400px 0;
                    }
                }

                @@-o-keyframes placeHolderSwept {
                    0% {
                        background-position: -400px 0;
                    }

                    100% {
                        background-position: 400px 0;
                    }
                }

                @@keyframes placeHolderSwept {
                    0% {
                        background-position: -400px 0;
                    }

                    100% {
                        background-position: 400px 0;
                    }
                }

                .line {
                    background: #ffffff;
                    position: absolute;
                    left: 0;
                    right: 0;
                }

                .line__1 {
                    top: 170px;
                    width: 12px;
                    height: calc(100% - 170px);
                    -webkit-border-bottom-left-radius: 3px;
                    -moz-border-radius-bottomleft: 3px;
                    border-bottom-left-radius: 3px;
                }

                .line__2 {
                    top: 165px;
                    height: 10px;
                }

                .line__3 {
                    top: 170px;
                    left: auto;
                    width: 12px;
                    height: calc(100% - 170px);
                    -webkit-border-bottom-right-radius: 3px;
                    -moz-border-radius-bottomright: 3px;
                    border-bottom-right-radius: 3px;
                }

                .line__4 {
                    bottom: 0px;
                    height: 15px;
                    -webkit-border-bottom-right-radius: 3px;
                    -webkit-border-bottom-left-radius: 3px;
                    -moz-border-radius-bottomright: 3px;
                    -moz-border-radius-bottomleft: 3px;
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                .line__5 {
                    top: 193px;
                    left: 12px;
                    right: 10px;
                    height: 15px;
                    padding: 3px;
                }

                .line__6 {
                    top: 225px;
                    left: 12px;
                    right: 10px;
                    height: 13px;
                    padding: 3px;
                }

                .line__7 {
                    position: absolute;
                    height: 125px;
                    background-color: #0000002e;
                    margin-right: 50px;
                    margin-left: 50px;
                    margin-top: 17px;
                }

                .line__8 {
                    top: 258px;
                    left: 12px;
                    right: 10px;
                    height: 10px;
                    padding: 3px;
                }

                .circle {
                    position: absolute;
                    right: 12px;
                    bottom: 12px;
                    width: 62px;
                    height: 46px;
                    overflow: hidden;
                }

                    .circle:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 22px;
                        border-radius: 100%;
                        width: 24px;
                        height: 24px;
                        box-shadow: 0px 0px 0px 211px #ffffff;
                    }
            </style>
            <div class="row" id="divProfileContent">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  filter-teaching-staff">
                    <div class="container-card">
                        <div class="content">
                            <div class="line line__1"></div>
                            <div class="line line__2"></div>
                            <div class="line line__3"></div>
                            <div class="line line__4"></div>
                            <div class="line line__5"></div>
                            <div class="line line__6"></div>
                            <div class="line line__7"></div>
                            <div class="line line__8"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  filter-teaching-staff">
                    <div class="container-card">
                        <div class="content">
                            <div class="line line__1"></div>
                            <div class="line line__2"></div>
                            <div class="line line__3"></div>
                            <div class="line line__4"></div>
                            <div class="line line__5"></div>
                            <div class="line line__6"></div>
                            <div class="line line__7"></div>
                            <div class="line line__8"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  filter-teaching-staff">
                    <div class="container-card">
                        <div class="content">
                            <div class="line line__1"></div>
                            <div class="line line__2"></div>
                            <div class="line line__3"></div>
                            <div class="line line__4"></div>
                            <div class="line line__5"></div>
                            <div class="line line__6"></div>
                            <div class="line line__7"></div>
                            <div class="line line__8"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12   filter-teaching-staff">
                    <div class="container-card">
                        <div class="content">
                            <div class="line line__1"></div>
                            <div class="line line__2"></div>
                            <div class="line line__3"></div>
                            <div class="line line__4"></div>
                            <div class="line line__5"></div>
                            <div class="line line__6"></div>
                            <div class="line line__7"></div>
                            <div class="line line__8"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="divModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="divModalheader">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divModalBody">
                <div class="form-group">
                    <div class="col-md-9">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="" value="" class="form-control mandatory-field" id="txtName" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Designation</label>
                            <div class="col-sm-9">
                                <input type="text" name="" value="" class="form-control mandatory-field" id="txtDesignation" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Subject</label>
                            <div class="col-sm-9">
                                <input type="text" name="" value="" class="form-control mandatory-field" id="txtSubject" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Mobile No</label>
                            <div class="col-sm-9">
                                <input type="text" name="" value="" class="form-control mandatory-field" id="txtMobileNo" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Email Id</label>
                            <div class="col-sm-9">
                                <input type="text" name="" value="" class="form-control mandatory-field" id="txtEmailId" maxlength="50" />
                            </div>
                        </div>

                        @*<div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Teaching Staff</label>
                                <div class="col-sm-9">
                                    <div class="form-group" >
                                        <label class="radio-inline"><input type="radio" id="rdbTeachingStaff" name="optradio"  tabindex="0" checked>Yes</label>
                                        <label class="radio-inline"><input type="radio" id="rdbNonTeachingStaff" name="optradio"  tabindex="0">No</label>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="col-md-3 " style="text-align:center">
                        <img id="photoUpload" src="~/images/no-image.jpg" class="staff-img-update" alt="" title="Upload Photo" />
                        <input type="file" style="display:none" name="name" value="" accept=".png, .jpg, .jpeg" id="fileUpload" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnSaveStaff" class="btn btn-success btn-lg">Save changes</button>
                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



